[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector-python = "*"
openpyxl = "*"
selenium = "*"
pandas = "*"
xlsxwriter = "*"
requests = "*"
json2html = "*"

[dev-packages]

[requires]
python_version = "3.8"
